body::-webkit-scrollbar{
    width: 0.8rem;
}

body::-webkit-scrollbar-track{
    background-color: #978e82;
    border-radius: 1rem;
}

body::-webkit-scrollbar-thumb{
    background-color: #d4cf38;
    border-radius: 1rem;
}