@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Playfair Display', serif;
  color: #07484A ;
}

*::before,
*::after {
  box-sizing: inherit;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: #07484A;
}

